<div class="main-div">
<!-- <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{product.productName}}</mat-card-title>
    <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src='assets/imgs/tablet_blue_stylus.jpg' alt="Photo of a Shiba Inu">
  <mat-card-content>
    <ul>
      <li>{{product.productName}}</li>
      <li>{{product.price}}</li>
      <p>{{product.productName}} built with latest {{product.ostype}} manufactured by {{product.manufacturer}}</p>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>{{product.rating}}</button>
    <!-- <button mat-button></button> -->
  <!-- </mat-card-actions>
</mat-card> -->
<div class="card text-white bg-secondary mb-3" style="width: 25rem;">
  <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><a (click)="detail()">{{product.productName}}</a></h5>
    <div class="card-text ">
       <ul class="list-group list-group-flush">
      <li class="list-group-item text-white bg-secondary">{{product.price}}</li>
      <p class="list-group-item text-white bg-secondary">{{product.productName}} built with latest {{product.ostype}} manufactured by {{product.manufacturer}}</p>
    </ul>
  </div>
    <button class="btn btn-secondary text-white">{{product.rating}}</button>
  </div>
</div>
</div>
