<div class="row">
  <div class="col-md-5 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Add Product</div>
      <div class="panel-body">
        <form [formGroup]="ap">
          <div class="form-group" >
            <label>Product Name</label>
            <input type="text" class="form-control" formControlName="productName">
          </div>
          <div class="form-group">
            <label>Poduct Code</label>
            <input type="text" class="form-control" formControlName="productCode">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" formControlName="description">
          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" formControlName="price">
          </div>
          <div class="form-group" >
            <label>manufacturer</label>
            <input type="text" class="form-control" formControlName="manufacturer">
          </div>
          <div class="form-group" >
            <label>OS Type</label>
            <input type="text" class="form-control" formControlName="ostype">
          </div>
          <div class="form-group">
            <label>Rating</label>
            <input type="number" class="form-control" formControlName="rating">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="onsubmit()">submit</button>

          </div>


        </form>
        <div *ngIf="success">
          <h4 class="text-success">Data added Successfully</h4>
        </div>
        <div *ngIf="edit_success">
          <h4 class="text-success">Data edited Successfully</h4>
        </div>
      </div>
    </div>
  </div>
</div>
